<h1>Comparisons</h1>
<div id="venn1" class="name">

</div>
<div style="float:left;padding:20px">
    <table>
    <tr>
      <td>|A|</td>
      <td>
        <input class="input-mini venn_area" id="A" type="number" value="16">
      </td>
    </tr>
    <tr>
      <td>|B|</td>
      <td>
        <input class="input-mini venn_area" id="B" type="number" value="16">
      </td>
    </tr>
    <tr>
      <td>|C|</td>
      <td>
        <input class="input-mini venn_area" id="C" type="number" value="12">
      </td>
    </tr>
    <tr>
      <td>|A&#8745B|</td>
      <td>
        <input class="input-mini venn_area" id="A,B" type="number" value="4">
      </td>
    </tr>
    <tr>
      <td>|A&#8745C|</td>
      <td>
        <input class="input-mini venn_area" id="A,C" type="number" value="4">
      </td>
    </tr>
    <tr>
      <td>|B&#8745C|</td>
      <td>
        <input class="input-mini venn_area" id="B,C" type="number" value="3">
      </td>
    </tr>
    <tr>
      <td>|A&#8745B&#8745C|&nbsp</td>
      <td>
        <input class="input-mini venn_area" id="A,B,C" type="number" value="2">
      </td>
    </tr>
    </table>
</div>
<div id="venn"></div>
<div style="clear: both;"></div>
