<div id="main-div" ng-app="wiki-form" ng-controller="LangController" class="center-block text-center">

  <form class="form" name="form" ng-submit="submit()">
    <div style="height:40px" class="text-center center-block">

      <input id="url" placeholder="Please enter a Wikipedia URL" class="form-control center-block text-center" type="url" ng-model="userURL.url" name="validatedURL" validate-url ng-change="changeLangOptions()"></input>

      <div id="invalid-url" class="show-hide text-center center-block" ng-show="form.validatedURL.$error.url">
        <p>
          Please enter a valid Wikipedia article URL.
        </p>
      </div>

      <div id="invalid-combination" class="show-hide text-center center-block" ng-show="invalidCombination">
        <p>
          Please enter an article translatable by Bing Translator.
        </p>
      </div>

    </div>

    <div class="center-block text-center">

      <div id="user-lang-div">
        <p>
          {{ lang.name }}
        </p>
      </div>

      <% if current_user %>
        <button type="submit" class="submit" ng-show="submitButton">
          <i class="glyphicon glyphicon-refresh text-center"></i>
        </button>

        <button type="button" class="submit" ng-click="save()" ng-hide="submitButton">
          <i class="glyphicon glyphicon-floppy-disk text-center"></i>
        </button>
      <% else %>
        <button type="submit" class="submit">
          <i class="glyphicon glyphicon-refresh text-center"></i>
        </button>
      <% end %>

      <div id="select-lang" class="select-div">
        <span class="fancyArrow"></span>
        <select ng-model="selectedLang">
          <option ng-repeat="language in languages">{{ language }}</option>
        </select>
      </div>

    </div>
  </form>

  <div class="spinner" ng-show="loading">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
  </div>


  <div id="text-analysis" class="center-block">

    <div class="lang-1 col-lg-6" ng-show="showLang1">
      <div id="cloud-div-1" class="name">
      </div>
    </div>

    <div class="lang-2 col-lg-6" ng-show="showLang2">
      <div id="cloud-div-2" class="name">
      </div>
    </div>

  </div>

</div>
