<div id="main-div" ng-app="wiki-form" ng-controller="LangController">

  <div id="url-div">
    <form class="form" name="form" ng-submit="submit()">
      <div style="height:40px">
        <input id="url" placeholder="Please enter a Wikipedia URL" class="form-control center-block" type="url" ng-model="userURL.url" name="validatedURL" validate-url ng-change="changeLangOptions()"></input>
        <p id="invalid-url" class="text-center center-block" ng-show="form.validatedURL.$error.url">
          Please enter a valid Wikipedia article URL.
        </p>
      </div>
    </div>

    <div class="center-block text-center">

      <div id="user-lang-div">
        <p>
          {{ lang.name }}
        </p>
      </div>

      <button type="submit" id="submit">
        <i class="glyphicon glyphicon-refresh text-center"></i>
      </button>

      <div id="select-lang" class="select-div">
        <span class="fancyArrow"></span>
        <select ng-model="selectedLang" ng-change="update()">
          <option ng-repeat="language in languages">{{ language }}</option>
        </select>
      </div>
    </div>

  </form>
</div>

