@import "bootstrap-sprockets";
@import "bootstrap";
$wiki-blue: #A7D7F9;
$dark-wiki-blue: #82c6f6;
$wiki-green: #CEF2E0;
$dark-wiki-green: #52d192;
$grey: #A6A6A6;

body {
  margin:0px;
  padding:0px;
  overflow-y: scroll;
  overflow-x: none;
}

#nav-title {
  /*font-family: Helvetica Neue, Helvetica, Arimo, Liberation Sans, Lucida Grande, sans-serif.*/
  font-family: Times, Georgia, Linux Libertine, Cambria, serif;
  font-weight: normal;
  font-size: 2em;
  color: black;
}

.bigger {
  font-size: 1.15em;
}

#between {
  top: 17px;
  font-size: 3em;
  margin-left: 7px;
  margin-right: 10px;
  transition: .75s;
  /*padding-top: 20px;*/
}

#little-title {
  font-size: .545em;
}

.navbar-brand {
  margin-bottom: 10px;
}

.navbar {
  border-bottom: 1px solid white;
  transition: 1s;
  background: white;
}

.navbar:hover {
  border-bottom: 1px solid $wiki-blue;
  transition: 1.75s;
}


a:link, a:visited, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

.select-div {
  position: relative;
  display: inline-block;
}

select {
  display: inline-block;
  height:30px;
  width: 150px;
  padding: 2px 10px 2px 2px;
  outline: none;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  transition: .5s;
  background: white;
}

#user-lang-div {
  position: relative;
  display: inline-block;
  height:30px;
  width: 150px;
  padding: 2px 10px 2px 2px;
  outline: none;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  text-align: left;
  transition: .5s;
  background: white;
  margin-right: 40px;
}

#select-lang {
  margin-left: 30px;
}

#user-lang-div > p {
  margin-top: 2px;
  margin-left: 4px;
}

/* Select arrow styling */
.select-div .fancyArrow {
  width: 29px;
  height: 28px;
  position: absolute;
  display: inline-block;
  top: 1px;
  right: .8px;
  background: image-url("black-down.svg") right / 100%  no-repeat white;
  border-radius: 3px;
  pointer-events: none;
}

select:-moz-focusring {
  color: transparent;
  border: 1px solid $wiki-blue;
  text-shadow: 0 0 0 black;
  transition: 0s;
}


/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
  .select-div .fancyArrow
  {
    display:none;
  }
}

select:hover {
  border: 1px solid $wiki-blue;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 16px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

.submit > .glyphicon {
  top: 20px;
}

.submit:hover, .submit:focus, #between:hover {
  color: $wiki-blue;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
  border: none;
  box-shadow: 0px 0px 1px transparent;
}

#url {
  border: 1px solid black;
  width: 390px;
}

#url:focus, #url:hover {
  border: 1px solid $wiki-blue;
}

/* Select arrow styling */
.select-div .fancyArrow {
  width: 29px;
  height: 28px;
  position: absolute;
  display: inline-block;
  top: 1px;
  right: .9px;
  background: image-url("black-down.svg") right / 100%  no-repeat white;
  border-radius: 3px;
  pointer-events: none;

}

select:-moz-focusring {
  color: transparent;
  border: 1px solid $wiki-blue;
  text-shadow: 0 0 0 black;
  transition: 0s;
}


/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
  .select-div .fancyArrow
  {
    display:none;
  }
}

select:hover {
  border: 1px solid $wiki-blue;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 16px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

.submit {
  padding-left: 10px;
  padding-right: 12px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  border:none;
  margin-left: -30px;
  margin-right: -25px;
  color: black;
  font-size: 3.2em;
  transition: .75s;
}

.submit > .glyphicon {
  top: 20px;
}

.submit:hover, .submit:focus, #between:hover, .submit:active {
  color: $wiki-blue;
  transition: .5s;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 12px;
}

#url:focus, #url:hover {
  border: 1px solid $wiki-blue;
  transition: .5s;
  box-shadow: none;
}

#twitter-login {
  margin-right: 76px;
  border: none;
}

#twitter-login:hover, #twitter-login:focus {
  background-color: white;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  border: none;
  box-shadow: 0px 0px 1px transparent;
}

#cu-div {
  margin-top: 10px;
  margin-right: 25px;
}

#main-div {
  margin-top: 75px;
  margin-left: 30px;
  margin-right: 30px;
}

#invalid-url, #invalid-combination {
  color: $dark-wiki-blue;
  font-size: 15px;
  font-weight: bolder;
  transition: 2s;
}

.show-hide {
  -webkit-transition:all linear 3s;
  transition:all linear 3s;
}

.show-hide.ng-hide {
  opacity:0;
}

.row {
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

#article-1 {
  text-align: right;
}

#article-2 {
  text-align: left;
}

.spinner {
  margin: 105px auto;
  width: 40px;
  height: 10px;
  font-size: 10px;
  > div {
    height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 0.6em;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .rect3 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleX(0.8);
    background-color: $wiki-blue;
  }
  20% {
    -webkit-transform: scaleX(1);
    background-color: $dark-wiki-blue;
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    background-color: $wiki-blue;
    transform: scaleX(0.8);
    -webkit-transform: scaleX(0.8);
  }
  20% {
    background-color: $dark-wiki-blue;
    transform: scaleY(1);
    -webkit-transform: scaleX(1);
  }
}

#text-analysis {
  margin-top: 30px;
}
